.topnav {
     overflow:hidden;
     background-color:#9DA993;
}

.topnav a {
   float:left;
   color:#EFE7BC;
   text-align:center;
   padding:17px;
   text-decoration:bold;
   font-size:15px;
   font-color:#A49393;
   
}   


.topnav a:hover {
  background-color:#FFF0DF;
  color: black;
}

.topnav a.active{
     background-color:#BCA88E;
     
}


video{
    
border-radius: 50px;
}



footer { 
 text-align: center;
 text size:10%;
 color:#D6AD60; 

}

/*image*/

img {

  border-radius:20%;
  border:"4"
}


/*table*/

table, th, td, tr {
  border:4px solid black;
  border-radius:30px;
  font-family: boba milky;
  font-size:19px;
  color:black;
  border-color:#122620;
  
}


#clock {
   
   font-size: 100px;
   font-family: Arial;
   width: 900px;
   margin:200px; 
   text-align: center;
   border: 2px solid black;
   border-radius: 20px;
}



h1 {

  padding:18px;
  text-align: center;
  background: #FFFFFF;
  color: black;
  font-size;18px
}


.bg-image {
  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size: 80px;
  border: 10px solid #f1f1f1;
  position: fixed; /* Stay fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 300px;
  padding: 20px;
  text-align: center;
}













.header {

  padding:10px;
  text-align:center;
  background:#F8AFA6;
  color: white;
  font-size:24px;

}


/*image*/

img {

  border-radius:20%;
}



/*table*/

table, th, td, tr {
  border:4px solid black;
  border-radius: 50px;
  font-family: boba milky;
  font-size:13px;
  color:#ffe6cc;
  border-color:#122620;
  
}

<style>
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("asset\image\food.jpeg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#67595E;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}


